[2022-08-17 21:17] migs35323 opened #2 "can't seem to install this extension"
## What are the steps to reproduce this issue?
1. installing pico w go from  extensions page
2. optional:  restart vscode
3. do anything with the pico w go

## What happens?
every pico w go menu crashes saying stuff like it can't start the files
and there is no menu on status bar like it mentioned in the docs

## What were you expecting to happen?
that i could use it <3

## Any logs, error output,

[2022-08-21 22:36] MySurmise opened #3 "Manual Connect doesn't work: 'Address not configured. Please go to the settings to configure a valid address or comport'"
## What are the steps to reproduce this issue?
1. Install extension
2. Change two things in the global settings:
`"auto_connect":true,"manual_com_device":"COM7",`
3. Click on the "Pico W Disconnected" button in the bottom left

## What happens?
I get an error message: `Address not configured. Please go to the settings to configure a valid address or comport`

## What were you expecting to happen?

[2022-08-21 22:37] MySurmise commented on #3
I am using Windows 11 and Python 3.10.0

[2022-08-23 17:37] Warp8 commented on #2
I also have this problem on Manjaro. It works on my windows desktop so I assume it probably a Linux issue.

[2022-08-24 01:52] Warp8 commented on #2
Update: after much research I have learned that this is a problem with the latest version of VS code having an issue with loading some micro-controller programming extensions. They say you can rollback your installation, but I didn't have any luck.

[2022-08-25 10:18] GuybrushThreepwood75 opened #4 "command 'picowgo.listCommands' not found"
## What are the steps to reproduce this issue?
1. New install of extension
2. try to open the "All commands"

## What happens?
- Error-windows with "command 'picowgo.listCommands' not found"

## Support info
Version: 1.70.2 (user setup)
Commit: e4503b30fc78200f846c62cf8091b76ff5547662
Date: 2022-08-16T05:35:13.448Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron

[2022-08-27 14:30] sgbaird opened #8 "First time I "Run current file": `No module named ...`, 2nd time is OK"
## What are the steps to reproduce this issue?
1. Follow basic setup instructions
2. Create a module at the same level as the file to run, e.g. `secrets.py`
3. Import the module in the file to run
4. Click "Run current file"

## What happens?
Can't import the module the first time, imports when clicked again.

## What were you expecting to happen?
Import the module per normal.

## Any logs, error

[2022-08-27 17:14] timstrasser opened #9 "Pico-Go status bar is visible in non-pico projects"
## What are the steps to reproduce this issue?
1. Install extension
2. Open any folder in VSCode

## What happens?
The Pico-Go status bar appears, no matter if the current folder is a Pico project or not.

## What were you expecting to happen?
I would expect the Pico-Go extension, to be loaded only if I'm inside a Pico project.

## Any logs, error output, etc?
*(If it’s long, please paste to https

[2022-08-27 18:22] paulober commented on #9
I'm also anoyed by this behaviour and try to fix this in an upcoming version. Thanks for mentioning...

[2022-08-27 18:25] timstrasser commented on #9
Thanks. :) If I'm not mistaken, this problem did not occur in the latest cpwood repo. I'm not sure what caused the issue, though.

[2022-08-27 18:28] paulober commented on #8
Thank you for mentioning. This one will be a bit more complicated to fix but i aim to fix this as soon as possible PRs wellcome.

I've been thinking about rewriting the extension in Typescript from ground up, since the current codebase has far too many dependencies on old, vulnerable versions of packages, and the asynchronous mess is a pain to maintain. So maybe then I will implement a fix for thi

[2022-08-27 18:35] paulober commented on #9
Ok, that's wired... As mentioned in #8 I'm currently working on a clean re-write with up-to date dependencies etc.... Should I make good progress with this this should probably fix a lot of these issues.

[2022-08-27 18:39] timstrasser commented on #9
Looking forward to that! Do you plan on also rewriting the automation scripts? (e.g. for generating the stubs and the bindings)

[2022-08-27 18:46] paulober commented on #3
Ok, this is strange... Try `All Commands -> Configure Project` first, then connect the Pico to your PC via USB without changing the global settings. The extension should then automatically detect and connect to the Pico (if you have previously flashed the latest MicroPython firmware to it). In the meantime, I'll look into the problem with "manual_com_device" and try to fix it or report a solution

[2022-08-27 18:51] paulober commented on #9
Maybe via my Azure DevOps, but that depends on the dependency I will use for serial communication. For example the current serialport package does not work in its latest version with the extension so maybe there are some changes in the requirement for the native bindings. And no, I probably won't rewrite the script that generates the stubs on the pico, if that's what you mean. I was thinking of re

[2022-08-27 18:58] paulober commented on #2
I am sorry to hear that you are having these problems with the extension. I don't know how the vscode snap version differs from the others in terms of loading the extension, but maybe that could be the reason for skipping the initialization of the extension which would initialize all the commands and the taskbar. Maybe i get this problem fixed with version 2.0 of this extension coming (hopefully)

[2022-08-27 19:01] paulober commented on #4
I have no idea what could be the problem here. I hope that the extension will work for you after the next updates. I will come back to this problem. But anyway thanks for reporting this error.

[2022-08-27 20:12] MySurmise commented on #3
I tried this, sadly, this did not work. I tried the extension on another PC with Windows 10, it worked there. But the support info worked on neither. Maybe you can push an update with a working "Support info" button, so you can find out what's wrong?

[2022-08-27 22:35] MySurmise commented on #3
I have one additional question: My Intellisense for Pico also does not work on either PC.
![image](https://user-images.githubusercontent.com/70728036/187050302-6c80eccc-44a2-462b-bd98-92f6e9565cd2.png)

Example: The "machine" module does not get recommended.
Do you have an idea why this is and how I coud fix this?

[2022-08-28 11:02] paulober commented on #3
Have you done `All Commands -> Configure Project` on the computer where to extension works. And make sure to install the recommended extensions in .vscode/extensions.json because they are required for the intellisense.
[code]

[2022-08-28 11:03] paulober commented on #3
Ok, i have no idea why this doesn't work for you. I can only say wait for the next update. I hopefully will fix your problems...

[2022-08-28 19:16] timstrasser opened #10 "Unexpected token { in JSON at position 120"
## What are the steps to reproduce this issue?
1. Install extension
2. run "Download" command or try connecting to the FTP server

## What happens?
If I try to download the project from my Pico, this gets printed in the console:
[code]
Similarly, if I connect to the FTP server via FileZilla, this gets printed in the FileZilla console:
[code]

## What were you expecting to happen?
Download/FTP to w

[2022-08-29 01:59] MySurmise commented on #3
I'm sorry, apparently I disabled Pylance and enabled Jedi because it was giving me some weird (and wrong) recommendations. Anyway, I reenabled it and it works now and the wrong recommendations are gone no, so thanks!

[2022-09-03 12:54] LGH commented on #4
I have the same problem. Just installed the extension in VS Code and no Pico-Go-W commands work:

* Command 'Pico-W-Go > Configure project' resulted in an error (command 'picowgo.initialise' not found)

[code]

[2022-09-04 22:15] paulober opened #12 "Fix code scanning alert - Incomplete string escaping or encoding"
Tracking issue for:
- [x] https://github.com/paulober/Pico-W-Go/security/code-scanning/3
- [x] https://github.com/paulober/Pico-W-Go/security/code-scanning/4

[2022-09-04 22:24] #12 closed

[2022-09-05 07:21] Karel-Kroeze opened #14 "unsupported operator errors in typings for `int`s?"
## What are the steps to reproduce this issue?
1. Start a project
2. use Pico-W-Go to generate project files (Configure Project)
3. attempt to compare integers (e.g., `while max_wait > 0:`)

## What happens?
![image](https://user-images.githubusercontent.com/6831612/188389163-2c8bbb00-2106-4239-8f9d-d6a69e4c5031.png)

## What were you expecting to happen?
no errors

## Any other comments?
The stub

[2022-09-05 20:44] paulober commented on #14
Thank you for reporting this bug (next time please open it in github.com/paulober/Pico-W-Stub).

I also had errors in the linting concerning basic things. So after some searching it seems like the problem is in the builtin stubs. So i grabt the official ones from python/typeshed which should also be the one make this linting work when no custom settings were made. Expect PR with fix soon...

Ok i

[2022-09-05 20:50] #14 closed

[2022-09-05 21:33] paulober commented on #10
I have now idea what caused this problem. Maybe the on pico project file... 🤷‍♂️
But anyway should be fixed now with release 2.0.0+

Can you please test if it now works for you. Maybe you first have to delete your .vscode folder or the stubs in it as well as the folder Pico-W-Stub in %APPDATA%\Code\User as well as the files on the Pico or at least the project.pico-w-go file.

[2022-09-05 21:33] paulober commented on #2
Should be fixed now in version 2.0.0+
Can you confirm?

[2022-09-05 21:39] paulober commented on #3
@MySurmise

The reason for that is that you have to deactivate auto_connect in order to make use of the manual_com_port. The auto_connect means it automaticly searches for a valid COM port and tries it out and therefor it skips manual_com_port.

Now that finaly version 2.0.0 is out, the settings moved to VS Code integrated settings so you can configure this now via the GUI (VS Code settings) or yo

[2022-09-05 21:41] paulober commented on #4
@GuybrushThreepwood75 and @LGH great news should be fixed now with version 2.0.0+

Can you check this on your machines please?

[2022-09-05 21:49] Warp8 commented on #2
On VS code 1.71.0 and on the plugin release from 9/5/2022 it still does not work for me.

[2022-09-05 22:24] paulober commented on #2
Ok, can you reproduce this error and then open ther visual studio code terminal -> select the output pane -> select Protocoll (Extensionhost) in the dropdown can past the contenct into pastebin, gist or something like that. This constains log information why the extension crashes on you setup.

[2022-09-05 22:28] paulober commented on #14
No problem and glad to here that it fixes your issue.

It should have a mention, when you try to create a new issue, but maybe i have to describe it a bit more detailed, sorry for that...

[2022-09-05 22:55] migs35323 commented on #2
it's in a big loop now, its worse lol
it's spamming theese window non stop
closed vscode and opened again, i can't use vscode lol

![Screenshot from 2022-09-05 23-47-36](https://user-images.githubusercontent.com/92784574/188518383-155e280a-69cb-45af-aa53-04260b82ad8e.png)

found this in the log shared tab not sure if its your extention or other:
`[2022-09-05 23:49:18.168] [sharedprocess] [error] [

[2022-09-06 06:29] ma3oun opened #16 "Extension not working with VSCode 1.71.0 [Linux]"
## What are the steps to reproduce this issue?
1. Update to latest VSCode 1.71.0 on linux
2. Remove Pico-Go and install Pico-W-Go
3. Try to execute any command (e.g. Upload current file only)

## What happens?

An error window pops up: "command 'picowgo.uplodFile' not found"

## What were you expecting to happen?

File upload

## Any logs, error output, etc?
*(If it’s long, please paste to https:/

[2022-09-06 09:39] paulober commented on #2
I just tested the extension on manjaro Linux at i think i found the problem. Expect fix soon.

[2022-09-06 09:41] #2 closed

[2022-09-06 10:01] paulober commented on #2
@migs35323 should be fixed now with v2.0.4. Can you confirm?

[2022-09-06 10:03] paulober commented on #16
You have to run 'Pico-W-Go > configure project first' as this will setup all the commands and linting for your workspace first. See README.md

[2022-09-06 10:06] migs35323 commented on #2
@paulober thank you a lot for the fixing and quick actions, i will be able to test later today, will provide feedback once i have the change to try

[2022-09-06 10:09] ma3oun commented on #16
Indeed, this solves the problem. Thanks :-)

[2022-09-06 10:09] #16 closed

[2022-09-07 11:11] SteveBannister1 commented on #16
Thanks! That worked!

[2022-09-08 20:49] paulober opened #18 "CMD Delete all files fail invalid syntax"
## What are the steps to reproduce this issue?
1. Connect a Raspberry Pi Pico W board to the ext
2. Run the "Delete all files from board" command

## What happens?
Throws an error of type `invalid syntax` and no files get deleted.

## What were you expecting to happen?
All files on board get deleted.

## Any logs, error output, etc?
[code]

## Any other comments?
N/A

## Support info

Copy this fr

[2022-09-08 20:50] #18 closed

[2022-09-12 14:14] TimAEllis opened #19 "Unable to create issue in Pico-W-Stub about autocomplete issue"
## What are the steps to reproduce this issue?
1. Attempt to open [issue](https://github.com/paulober/Pico-W-Go/issues/new/choose)
2. Notice that it is an auto-complete issue and select the [Open](https://github.com/paulober/Pico-W-Stub/issues) open to go to the stubs issue page
3. As the repo is a fork it doesn't allow its own issues

## What happens?

Unable to create an issue in **Pico-W-Stub**

[2022-09-12 14:40] #19 closed

[2022-09-12 14:49] paulober commented on #9
Should be fixed since update 2.0.0, can you confirm?

[2022-09-12 14:51] paulober commented on #4
After 7 days of no response, I will mark this issue as closed. If the issue has not been resolved, feel free to reopen it.

[2022-09-12 14:52] paulober commented on #3
After 7 days of no response, I will mark this issue as closed. If the issue has not been resolved, feel free to reopen it.

[2022-09-12 14:52] #3 closed

[2022-09-12 14:57] paulober commented on #10
After 7 days of no response, I will mark this issue as closed. If the issue has not been resolved, feel free to reopen it.

[2022-09-12 14:57] #10 closed

[2022-09-13 15:17] mariosaleiro opened #20 "Unable to start terminal"
## What are the steps to reproduce this issue?
1. Open VS Code 1.71.0 with Pi Pico W connected to USB port
2. Initialize a pico-go project
3. Terminal loads but without any REPL

## What happens?
Bottom bar shows "Pico W Connected" but on the bottom right I get a popup with an error message saying "Unable to start terminal"

## What were you expecting to happen?

## Any logs, error output, etc?
*(

[2022-09-13 18:11] paulober commented on #20
Ok, please reproduce this error and then copy the content from Terminal -> Output -> Dropdown select something like "Extension host". If it's very long you can copy it onto pastebin

[2022-09-14 07:31] mariosaleiro commented on #20
Output from Log (Extension Host)
[code]

Ome more thing that may be relevant and related: everytime I open the project that has pi pico w configured, it opens a new Pico W Console on the terminal with a bash prompt and If I try to close any of them they just get restored.

[2022-09-14 10:00] mariosaleiro commented on #20
Found the issue: Python 3.8 instead of the required 3.9. After updating to 3.9 Terminal now works. I'm closing the issue. Thanks!

[2022-09-14 10:00] #20 closed

[2022-09-16 03:26] Lak4CYUT opened #21 "Cannot use REPL console."
## What are the steps to reproduce this issue?
1. Open VSCode.
2. Open a Pico W Go project.
3. Wait.

## What happens?
A dialog show the "Unable to start the terminal".

## What were you expecting to happen?
Show REPL console terminal.

## Any logs, error output, etc?
*(If it’s long, please paste to https://gist.github.com and insert the link here)*
Platform: Ubuntu
VSCode version: 1.70.2

## Any

[2022-09-16 13:07] ollar commented on #4
Version: 1.71.2

command 'picowgo.connect' not found

seems the problem is still actual

[2022-09-16 21:26] aaaaahaaaaa commented on #21
I experience the same issue now. The extension forces a terminal to be opened. Sometimes even 2.

[2022-09-16 22:26] paulober commented on #4
Ok, but can you please provide some more information like: Your OS and it's version, do you use the current version of the extension, do you have Python 3.9+ installed....

[2022-09-17 05:03] apazdnikov commented on #21
Hello, experience the same issue.

[2022-09-17 20:11] migs35323 commented on #21
probably related, in my case vscode opens like 4 terminals and i can't seem to close them, they respawn

[2022-09-18 09:06] LGH commented on #4
Sorry, I've been away for work so I couldn't report back (only running this on my personal laptop).

Issue still persists.

Python3.9 (3.9.13) and 3.10 both installed using Homebrew and available in /usr/local/bin/ (python3 linked to 3.10.6). pico-w-go v2.0.7, MacOS 12.6 (Intel), VS Code as per below.

`Version: 1.71.2
Commit: 74b1f979648cc44d385a2286793c226e611f59e7
Date: 2022-09-14T21:05:37.721Z

[2022-09-18 10:13] paulober commented on #4
Ok, tanks. I currently don't have a MacOS machine available for testting but i assume that the problem is caused how to python installations are installed but it's juts a guess. Can you please leave your system as it is now and reproduce the error and than copy the part which concerns "Pico-W-Go" from the "Terminal > output > (Select something with "(Extensionhost)")" and paste it here.

[2022-09-18 14:48] paulober commented on #21
Ok, can you please reproduce the error, open a new "normal" terminal > output panel > select something with "(Extensionhost)" at then end, and then copy the output concerning picowgo to something like a gist or directly into the issue?

[2022-09-18 15:21] paulober commented on #21
I know, that's a known issue. I'm working on it as it affects all platforms.

[2022-09-18 15:26] paulober commented on #9
After 7 days of no response, I will mark this issue as closed. If the issue has not been resolved, feel free to reopen it.

[2022-09-18 15:26] #9 closed

[2022-09-18 15:28] paulober commented on #4
No problem, thanks for the response, but i've also ment @ollar.

[2022-09-18 15:30] paulober commented on #21
There is a workaround. Instead of opening VS Code via a shortcut just run `code C:\path\to\project\folder` in terminal as this should not reload the terminals from your last session.

[2022-09-18 19:17] paulober opened #22 "Duplicate terminals respawn after closeing"
"probably related, in my case vscode opens like 4 terminals and i can't seem to close them, they respawn"

_Originally posted by @migs35323 in https://github.com/paulober/Pico-W-Go/issues/21#issuecomment-1250133827_

----

When you open VS Code via a short link (desktop or taskbar) after a restart these terminals often remain even if a new one is already created. If you then try to close the old o

[2022-09-19 01:22] Lak4CYUT commented on #21
Yes, I got the same problem.

[2022-09-19 01:26] Lak4CYUT commented on #21
Sure.

`[2022-09-19 09:25:09.036] [exthost] [info] Extension host with pid 757754 started
[2022-09-19 09:25:09.036] [exthost] [info] Skipping acquiring lock for /home/lake/.config/Code/User/workspaceStorage/d1ad1b1f274557b9c7d821c7e2615b9d.
[2022-09-19 09:25:09.962] [exthost] [info] ExtensionService#_doActivateExtension ms-python.python, startup: false, activationEvent: 'onLanguage:python'
[2022-0

[2022-09-19 13:07] LGH commented on #4
If I select the Output window and "Log (Extension host)", there is nothing related to Pico-W-Go there. Did I misinterpret what you wanted us to do?

[2022-09-20 15:45] bf194 opened #23 "No stubs installed"
Installed a fresh VS Code (V 1.71.2) on windows 10, plus extensions Python, Pylance, Intellisense and Pico-W-Go.

Following Pico-W-Go getting started, opened a folder and (ctrl+shift+p) Pico-W-Go configure project. A .vscode folder is being installed, but is empty.
No stub files are created.
![afbeelding](https://user-images.githubusercontent.com/111342911/191303962-ad3eb98e-7756-4d0f-8a71-db35a14

[2022-09-21 18:43] NowanIlfideme commented on #23
Got the same bug. It could be because I'm using conda/mamba environments locally. This is quite literally a new environment (installed VSCode + synced extensions on a new Windows install). Could be something Windows-specific too.

[2022-09-21 18:47] NowanIlfideme commented on #23
After some digging I found some way to manually install for now: https://github.com/paulober/Pico-W-Stub#using-the-stubs (same author as extension btw 😉)

[2022-09-22 19:55] bf194 opened #24 "No stubs installed in VS code"
Because the PICO-W-GO extension on VS Code does not work as promised (it does not create stubs), I tried a manual setup to get my stubs:

I followed the docs on https://micropy-cli.readthedocs.io/en/latest/base.html.

First, I installed micropy-cli via pip.
following the docs, creating a new project folder is simple:

Step 1: Excecuting micropy init project1 (in the bash terminal of VS code):
![im

[2022-09-22 20:05] mariomie opened #25 "Upload of picozero library fails"
## What are the steps to reproduce this issue?
1. Create a project including picozero library
2. Upload project to pi pico

## What happens?
Upload fails for picozero.py

## What were you expecting to happen?
Upload picozero.py

## Any logs, error output, etc?

[code]

## Any other comments?
It is possible to upload the library with Thonny

## Support info

[code]

[2022-09-24 18:52] paulober commented on #25
Try to run "All commands > Delete all files from board" first. And the re-run the "Upload project command to upload all your workspace files.

[2022-09-24 19:13] paulober commented on #23
Ok, strange. Have a look i you have a `Pico-W-Stub` folder in `%APPDATA%\Code\User`.

The Python environment shouldn't be a problem as long as it provides a "py", "python" or "python3" command to the $PATH. You can try to set the python interpreter executable via "picowgo.pythonPath" in you workspace settings.json or via VS Code settings GUI.

Please provide information requested by the bug report

[2022-09-24 19:17] mariomie commented on #25
Unfortunately that is not working. It is a bigger file...Is this a problem?
[code]

[2022-09-24 19:21] #22 closed

[2022-09-24 19:34] paulober commented on #24
I'm sorry to hear that you have problems installing the stubs. Why have you downloaded:

https://github.com/paulober/Pico-W-Stub/ is the repo containing the stub files i created to use in this extension. They should be automaticly installed in your VS Code User config dir on linux something like: "/home/bf194/.config/Code/User/Pico-W-Stub" and then you have to run `Pico-W-Go > Configure project` i

[2022-09-24 19:37] paulober commented on #24
Have you opened a folder thought VS Code and then pressed something like `Ctrl-Shift-P` and searched for `Pico-W-Go > Configure project`?
This should create a .vscode folder inside your project folder and link the stubs into it.

[2022-09-24 19:41] paulober commented on #4
If you press `Ctrl+F` or the macos alternative of it inside the "Log (Extension host)" tab and type "picowgo" and it doesn't find anything then it looks like the extension is not installed. Try to uninstall it and the restart VS Code, install it again. Open VS Code, open a folder and run the "Pico-W-Go > Configure project" VS Code command inside the new project.

[2022-09-24 19:44] paulober commented on #4
@ollar
Have you run "Pico-W-Go > Configure project" in the project folder you opened in VS Code first?

[2022-09-24 19:54] paulober commented on #21
Should be fixed now with version v2.1.0.
Can you confirm?

[2022-09-24 20:33] quittung commented on #23
I have the same issue. When running "Configure Projects" the toolbar appears, no errors are shown and an empty .vscode folder is created.

I tried Python 3.8, 3.9, 3.10 (from python.org). Now I am running 3.10 from the Microsoft Store.
I rebooted twice, reloaded numerous times and disabled all extensions but Python, Pylance, Intellicode and Pico-W-Go.
I tried setting picowgo.pythonPath to "C:\User

[2022-09-24 21:52] paulober commented on #23
@quittung Thanks for the extensive debug Information. I think the problem could be related to the symbolic link creation permission.

I'll publish a powershell script as a workaround for now...

[2022-09-25 10:39] aaaaahaaaaa commented on #21
I confirm it's working on my side.

Small feedback: I've never worked on a VSCode extension myself, but from UX point of view, it does feel like an oddity that it always forces a terminal to be opened. It would feel better if the `Pico Console` was available in the list of available terminals, and could be opened and closed freely.

[2022-09-25 10:45] aaaaahaaaaa opened #26 "File explorer"
# Feature Request 🚀

## Describe the solution you'd like

It would be great to have access to the content of the board as a file explorer from VSCode extension sidebar on the left. It would list the files currently on the Pico and files could also be draggred, dropped or even deleted directly from there.

[2022-09-25 11:21] paulober commented on #23
Here is a workaround for project setup. Place it in your porject folder and then run it via powershell. (On linux you maybe have to install powershell 7 first)
[Configure-Project.zip](https://github.com/paulober/Pico-W-Go/files/9640624/Configure-Project.zip)

[2022-09-25 11:25] paulober commented on #26
Good idea, I've been thinking about it as well. I need to find some details about the APIs that VS Code offers developers for this kind of function. This could be a good replacement for the FTP server integration so I can remove this dependency as it has a major security vulnerability.

[2022-09-25 11:29] paulober commented on #21
As of now you can set "picowgo.openOnStart" to false in your porject settings, this would avoid opening the terminal on start. But i'll add this feature to the list.

[2022-09-25 11:30] paulober opened #27 "Add 'Pico Console' to available terminals"
_Originally posted by @aaaaahaaaaa in https://github.com/paulober/Pico-W-Go/issues/21#issuecomment-1257165712_

[2022-09-25 14:58] quittung commented on #23
That was quick. I think we are getting closer, the files are there now. But importing ```machine``` still cannot be resolved. The json files seem corrupted, maybe an encoding issue:
![Screenshot 2022-09-25 164649](https://user-images.githubusercontent.com/10237613/192149991-338e9395-8dba-4448-9c75-03118bd4b526.jpg)
[settings.zip](https://github.com/paulober/Pico-W-Go/files/9641014/settings.zip)

A

[2022-09-26 05:56] paulober commented on #23
Thank's i missed that one... I'll update the script later.

[2022-09-26 19:04] torpinouche commented on #24
I have the same problem. The command creates a .vscode but the folder is empty. This used to work with Pico-Go but cannot get it working properly with Pico-W-Go. Is there any manual way to do it? I have tried uninstall/reinstall everything including vscode and python

[2022-09-27 02:56] Lak4CYUT commented on #21
@paulober

Confirmed, it is fixed on my Ubuntu. Thanks.

[2022-09-27 03:13] #21 closed

[2022-09-27 05:21] paulober commented on #24
@torpinouche Strange...
I also Tester the extension on a Windows 11 Pro system and it works fine...
You can found the workaround in the other issue created by the same author like this one (duplicate)

[2022-09-27 05:28] paulober commented on #23
[Configure-Project.zip updated version](https://github.com/paulober/Pico-W-Go/files/9651807/Configure-Project.zip)

[2022-09-27 05:28] paulober commented on #24
https://github.com/paulober/Pico-W-Go/issues/23#issuecomment-1258996898

[2022-09-29 19:38] timstrasser commented on #10
The issue persists for me, even in the newest version.

[2022-10-01 22:54] quittung commented on #23
Works for me, thanks for all the work!

[2022-10-07 09:16] jcernato opened #28 "wrong type in stubs (machine.pyi -> readline())"
When playing around with UART on the pico I noticed that UART.readline() returns a 'bytes' object (or None) instead of a String.
VSCode consequently gives an error when calling .decode() on the returnvalue.

pseudocode:
device = UART(0, 9600)
rec = device.readline()
if rec is None: continue
else: rec.decode()                <- 'Cannot access member "decode" for type "str"'

[2022-10-11 13:00] jerrens commented on #3
To work around this problem, I had to:
1. Disconnect the device that was created COM8 and COM9 (a Bluetooth headset)
2. Change the COM port number of my Pico to be the highest port number used (instructions below)
3. Disconnect the Pico
4. Delete the 'pymakr.devices.configs' section of my user settings in VS Code
5. Reconnect the Pico
6. Reload VS Code (F1 > Developer: Reload Window)
7. Configure

[2022-10-11 13:30] paulober commented on #28
Thanks for reporting this. I'll look into it.

[2022-10-11 19:25] paulober commented on #23
@quittung Glad to hear it works for you. I'm adding a description of this script to the known errors so others may have the same problem. Looking for a solution/fix.
@bf194 Since I have not heard anything more from you, I assume that the problem is also solved for you.

[2022-10-11 19:26] paulober commented on #23
Reopening for tracking

[2022-10-11 19:27] paulober commented on #24
Tracked in #23

[2022-10-11 19:27] #24 closed

[2022-10-12 11:47] bf194 commented on #23
Hello all, bf194 here.
I apologize for not showing up in the discussion; you made a very good job in fixing the issue. Thanks a lot for that. I am not a skilled software engineer (rather than experienced in the microprocessors that brought the apollo's to the moon) but an E-hardware engineer and not able to follow your technical details and jargon. I had to overcome diffidence before posting this

[2022-10-19 16:45] JoeSc opened #29 "When connected for keyboard shortcuts"
# Feature Request 🚀

## Is your feature request related to a problem? Please describe.
vscode allows me to map `picowgo.run` to `ctrl+enter`  However I have not been able to find a way to set the "When" for the shortcut to "When picowgo is connected" or something similar

## Describe the solution you'd like
Assistance with setting the "When" or perhaps picowgo has to export a variable that can be

[2022-10-26 02:28] jtayl0r commented on #23
For what it's worth... I had the same issue, but ran VSCode as an administrator and Pico-w-go > configure project properly installed the stubs in my project directory. I didn't need to run the script. Putting this out there as maybe it will help you debug, or help another user that doesn't want to run the separate script. Admin mode isn't ideal, but its something to work with.

[2022-10-26 14:04] paulober commented on #23
Thanks for the feedback. This confirms my suspicion that there is a problem with the permissions for symlinks under some Windows installations. I'm just surprised because I don't have any problems with my Windows 11 installation.

[2022-10-26 19:05] jtayl0r commented on #23
@paulober I've got it figured out. Windows, by default, sets a GPO that limits who/what can create symlinks. As soon as I added my user to the GPO it worked perfectly.

From GP editor... Computer Config > Windows Settings > Security Settings > User Rights Assignment > Create Symbolic Links

In my testing, adding groups to this policy did not work. I set "everyone" "administrators" "local users" an

[2022-10-27 18:41] jtayl0r commented on #23
Sure thing! I’ll give it a go this evening, if not tomorrow.

Jonathan Taylor
________________________________
From: Paul ***@***.***>
Sent: Thursday, October 27, 2022 1:16:08 PM
To: paulober/Pico-W-Go ***@***.***>
Cc: jtayl0r ***@***.***>; Mention ***@***.***>
Subject: Re: [paulober/Pico-W-Go] No stubs installed (Issue #23)

@jtayl0r<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F

[2022-10-27 18:50] Nocoderactually opened #30 "IgnoreThis"
Ignore.

[2022-10-27 19:10] #30 closed

[2022-10-27 19:10] Nocoderactually commented on #30
Solved

[2022-10-28 20:23] jtayl0r commented on #23
@paulober I wouldn't say it is the most exhaustive test ever done, but whatever voodoo magic you did seemed to have resolved the issue. I tried it on two different Win11 machines after resetting the GPO and rebooting and it configured properly and works as advertised! Thanks for the fix!

[2022-10-28 22:25] paulober commented on #23
@jtayl0r Thanks for testing again. I'm glad to here that my fix is working. Will be included in upcoming update v2.1.1

[2022-10-28 22:28] #23 closed

[2022-11-01 16:39] Drmikej commented on #4
I have the same problem - Pi 400 running PiOS latest Python 3.92
Clean install of PiOs Not other additional software installed.
Fresh install of VS Code
Installation of all extensions listed in readme.
Install Pico-W-go
set up hello.py with hello world
try "Pico-W-Go > Configure project"
and get command picowgo intialise not found
I am connecting via remote desktop

[2022-11-01 23:43] paulober commented on #4
@Drmikej Ok, sad to here that you have problems with the extension. Would you like to give me some debuging output from the terminal -> dropdown -> ... extension host or sth like that -> there should be something concerning picowgo.

[2022-11-02 15:43] Drmikej commented on #4
And just found the error when trying to a configure:

[2022-11-02 15:47] Holub-Patrik opened #32 "AutoFind port but no auto-connect"
# Feature Request 🚀

## Running tests is cumbersome sometimes
When I need to run my tests, I need to open the comport so I need to disconnect the pico. I want to keep ctr-c on connect because if a loop happens I want to be able to get rid of it. But if I connect my pico to the usb, Pico-W-Go connects and blocks the comport. But if I disable the autoconnect I need manually change the comport.

## W

[2022-11-02 15:49] #32 closed

[2022-11-02 15:50] Holub-Patrik commented on #32
Sorry, after a month of struggling it just started to work after I wrote the isssue, I have no Idea what happened

[2022-11-02 17:26] paulober commented on #4
@Drmikej I found the issue. I'll send the details later. As for now you can try to install the newest vsix package from the github releases and see if it works if you want.

[2022-11-02 18:14] Drmikej commented on #4
Just tried pico-w-go-2.1.2.vsix
same error - paulober.pico-w-go' failed: No native build was found for platform=linux
Sorry :-(

[2022-11-02 21:57] paulober commented on #4
Ok, the reason why it's not running is because support for linux-arm has been droped for this extension and it cannot start on your platform because the extension doesn't provide native build for this platform currently. If you setup your Raspberry Pi with the new 64-bit Raspbian it should work as the extension supports linux-arm64.

[2022-11-03 07:05] Drmikej commented on #4
That isn't good news - there are a lot of 32 bit Raspbian installations after all its the default.
How difficult would it be to add 32 bit support?
The original pico-go supported it.

[2022-11-03 10:08] Drmikej commented on #4
I can confirm that it does work on PiOS 64.
On reflection I'm not sure that 32-bit support is essential as the move to 64-bit as the default has to be sometime soon.
If it was easy to add then it is worth doing as the majority of Pi installations are 32-bit at the moment but I don't think its a deal breaker given how easy it is to change to PiOS 64 - I think adding a note to the effect that you ha

[2022-11-04 14:06] paulober commented on #4
@Drmikej So i looked some things up and as i know the RBPI4 and 400 uses a armv8 based CPU and the extension only includes binaries for armv6 and armv7 or the 64 arch equivalent. But in the 32-bit mode i thought Raspbian is running in armv7 compatibility mode so it can run armv7 binaries. You can see all included prebuilds here: https://serialport.io/docs/guide-platform-support#supported-platforms

[2022-11-05 12:10] Drmikej commented on #4
I'm not sure I follow because I'm not familiar with VS Code extensions. Adding the note seems like the best solution as I have been happy using the 64 bit OS with Pico-W-Go.
From previous comment:
Also I'm the coauthor of https://www.amazon.com/dp/1871962692 and harry and I are working on the update for the PicoW. The first edition used PicoGo and this second edition is planning to use Pico-W-Go.

[2022-11-05 13:31] paulober commented on #4
@Drmikej I added a note in the wiki and the README shows for linux only support for x64 and arm64.
Sounds great, what problem do you still have with the extension on the Pi 400 as i thought the info about the 64-bit os solved your issue?

[2022-11-05 13:50] Drmikej commented on #4
Making the switch to PiOS 64 solves all problems - but most users think that an arm64 extension will work on PiOS 32 - I think its all solved now.

[2022-11-05 16:38] paulober commented on #4
@Drmikej Ok, glad to hear. I'm looking forward to seeing the expansion referenced in a book. If there are any problems, please feel free to create an issue.

[2022-11-08 06:24] Nabla128k commented on #4
Hi, so if I understand it correctly support for 32bit arm OS has been dropped forever?
Is it too complicated to provide step by step how to build extension at home for 32bit use? For me, currently, switching to 64bit is not an option, unfortunately.

[2022-11-09 17:05] paulober commented on #29
Hi, thanks for the feedback and sorry for the delay. I'll look into it.

[2022-11-09 17:13] paulober commented on #26
@aaaaahaaaaa I've implemented a Visual Studio Code Remote workspace integration which enables you to open the pico filesystem in vscode as a workspace folder and edit in it. The problem ist, that to get the filesystem information the extension has to run python commands in the repl which can cause issues when the user tries to run a command at the same time. A solution to this would be to block th

[2022-11-09 18:08] paulober commented on #4
@Nabla128k Yes, i think so.
Details on how to generate native bindings for the Raspberry Pi OS 32-bit i refer to this section of the serialport.io documentation: https://serialport.io/docs/guide-installation#compilation-on-unsupported-systems

[2022-11-09 18:14] paulober commented on #4
@Nabla128k Maybe could help if you can paste your output of the vscode help -> info dialog option where your electron, vscode,  os and many other versions are listed.

[2022-11-09 23:48] #4 closed

[2022-11-09 23:49] paulober commented on #4
@Nabla128k Version v2.1.3 added support for armv7 (aka Raspberry Pi OS 32-bit support on Raspberry Pi 3b+ or 4b).

[2022-11-11 18:33] Drmikej commented on #4
Thanks!
I just tried it and it all seems to work on Pi OS 32 and I will change what the book says to indicate this.
Excellent work and much appreciated  :-)

[2022-11-21 17:20] brettnak opened #33 "Micropython Libs"
I've added a library to my pico via mip directly on the pico (umqtt.simple), but I'm not sure how to pull that into the project in VSCode.

I've done nothing beyond the standard pico-w-go setup, so obviously the extension knows nothing about it:

<img width="322" alt="image" src="https://user-images.githubusercontent.com/116197/203119612-faac174e-e9f7-4b04-ad65-8b9571f22530.png">

Is there current

[2022-11-22 19:51] paulober commented on #33
The reason why VS Code knows something about modules like "machine" or "rp2" is because i've written custom python files to allow the Python VS Code extension know what is available. So at the moment you could download the umqtt module and copy the files in it into `<Your-workspace>/.vscode/Pico-W-Stub/stubs/umqtt`. I think this should work as a temporary solution.

[2022-11-24 08:54] ollar commented on #4
@paulober sorry, github did not mentioned me in any way :(

that helped me, and now vs-code can see the board and the plugin can connect to it.
Thanks a lot!

[2022-11-27 18:16] Sbstyn opened #34 "No I2S class"
I can't use the I2S module, because in the machine library there is no I2S class...

[2022-11-30 03:36] blakeglucas opened #35 "Typo in Pico-W-Stub/stdlib/socket.pyi"
Current file contents are

[code]

which obviously doesn't make sense. Problem is resolved by changing to

[code]

Will submit a PR with fix, just posting issue for tracking purposes.

[2022-11-30 05:40] blakeglucas commented on #25
I took a look at this tonight, seems like something is off in the pyboard module, since the [MicroPython version](https://docs.micropython.org/en/latest/reference/pyboard.py.html#using-the-pyboard-library) handles the file upload fine. Might be worth it to just use a child process to manipulate their pyboard.py script instead of using a ported TS version?